/* --- ESTILOS DEL WIZARD (SE MANTIENEN IGUALES) --- */
.wizard-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.steps-indicator {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.step {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #dee7de;
}

.step.active {
  color: #dee7de;
}

.icon-wrapper {
  display: inline-flex; /* Alinear el contenido al centro */
  justify-content: center;
  align-items: center;
  width: 60px; /* Ancho del círculo */
  height: 60px; /* Altura del círculo */
  background-color: #0a91af; /* Color de fondo */
  border-radius: 50%; /* Hace que el div sea circular */
}

.icon-wrapper.active {
  display: inline-flex; /* Alinear el contenido al centro */
  justify-content: center;
  align-items: center;
  width: 60px; /* Ancho del círculo */
  height: 60px; /* Altura del círculo */
  background-color: #4caf50; /* Color de fondo */
  border-radius: 50%; /* Hace que el div sea circular */
}

.linea-personalizada {
  border: none;
  border-top: 12px solid #0a91af;
  width: 20%;
  margin: 25px 1px;
  opacity: 0.7;
  border-radius: 10px;
}

.linea-personalizada.active {
  border: none;
  border-top: 12px solid #4caf50;
  width: 20%;
  margin: 25px 1px;
  opacity: 1;
  border-radius: 10px;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.client-card {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
  width: calc(33.33% - 10px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.client-card:hover {
  transform: scale(1.05);
}

.form-par {
  display: flex;
  margin: 10px;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.buttons-wizard {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.box-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 1px solid #7b7b7b;
  width: 40%;
}

#pdf-content {
  width: 800px; /* Ajusta el ancho */
  min-height: 1200px; /* Asegura que tenga altura suficiente */
  background: white;
  overflow: visible !important; /* Evita cortes */
}

/* Checkbox de Seguro */
.checkbox-group {
  display: flex;
  align-items: center;
  gap: 10px;
}
