.form-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.client-section,
.receptor-section {
  flex: 1;
  min-width: 300px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.error {
  color: #e63946;
  margin-top: -7px;
  font-size: 0.8rem;
  margin-left: 5px;
}

.receptor-item {
  display: flex;
  color: #999999;
}

.buttons-receptorlist-container {
  display: flex;
  margin-left: 10px;
}

.button-save {
  width: 100%;
  padding: 25px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
