.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip {
  position: absolute;
  white-space: nowrap;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
}

.tooltip-container:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
}

.tooltip-top {
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-bottom {
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-left {
  right: 120%;
  top: 50%;
  transform: translateY(-50%);
}

.tooltip-right {
  left: 120%;
  top: 50%;
  transform: translateY(-50%);
}
