/* General */
.side-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  height: 100%;
  background-color: #1b1b29;
  transition: width 0.6s ease; /* Hacemos la transición más lenta */
}

.sidemenu-container {
  width: 250px;
  padding-top: 100px;
}

.sidemenu-container-collapsed {
  width: 80px;
  padding-top: 100px;
}

/* Menú */
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
  color: #aaaaaa;
}

.item-menu-sidebar {
  padding: 15px;
  color: #aaaaaa;
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.item-menu-sidebar:hover {
  background-color: #35354f;
}

.icon-menu {
  margin-right: 10px;
  font-size: 1.2rem;
}

/* Submenús */
.submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease; /* Hacemos la transición más lenta */
}

.submenu-active {
  max-height: 500px;
  transition: max-height 0.6s ease; /* Hacemos la transición más lenta */
}

/* Pie de página */
.menu-footer {
  padding: 20px;
  text-align: center;
  color: #aaaaaa;
  font-size: 0.8rem;
  border-top: 1px solid #35354f;
  margin-bottom: 3rem;
}

.program-name {
  color: #777777;
  margin-bottom: 5px;
}

.developer-name {
  color: #aaaaaa;
  font-size: 0.7rem;
}

/* Transiciones del contenido */
.content {
  transition: margin-left 0.6s ease; /* Transición más lenta */
}

.content-collapsed {
  margin-left: 80px;
}

.content-expanded {
  margin-left: 250px;
}

a.text-item-menu {
  text-decoration: none !important; /* Forzar la eliminación del subrayado */
}
