.dashboard-container {
  display: flex;
  height: 100vh; /* Altura completa de la vista */
}

.content {
  padding: 20px;
  background-color: #ffffff; /* Fondo celeste claro */
  width: 100%; /* El contenido ocupa el resto del ancho */
  overflow-y: auto; /* Si el contenido es grande, habilita el scroll */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content h1 {
  color: var(--color-primary);
}

.content p {
  font-size: 16px;
  color: #555;
}
