/* MODAL */
.modal {
  position: fixed;
  width: 80%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  opacity: 0;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: none; /* Oculta por defecto */
  z-index: 1000;
}

.modal-content {
  border: none !important;
}

/* Mostrar cuando la modal está activa */
.modal--open {
  display: block !important;
  opacity: 1 !important;
  transform: translate(-50%, -50%);
}

/* Fondo oscuro cuando la modal está activa */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 999;
}

/* Cuando el overlay está activo */
.modal-overlay--open {
  opacity: 1;
  pointer-events: all;
}

/* Scroll oculto en modal */
.modal::-webkit-scrollbar {
  display: none;
}

/* Botones dentro de la modal */
.button-save {
  width: 100%;
  padding: 15px 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}
