/* Estilo general del nav */
.nav-container {
  width: 100%;
  background-color: var(--color-primary);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100; /* Asegura que el nav esté por encima del resto */
  display: flex;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  color: #ffffff;
  transition: all 0.3s ease;
  height: 4rem;
}

.nav-container .left-side-nav {
  display: flex;
  align-items: center;
  width: 90%;
}

.nav-container img {
  margin-top: 30px !important;
  margin-right: 20px;
  width: 150px;
}

.icon-menu-collapse {
  margin-top: 20px;
  font-size: 1.8rem;
  cursor: pointer;
  color: #ffffff;
  transition: transform 0.3s ease;
}

.icon-menu-collapse:hover {
  transform: scale(1.1); /* Efecto de agrandamiento al hacer hover */
  color: #afafaf; /* Color verde como el side menu */
}

.menu-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}

.transparent-dropdown {
  background-color: transparent;
  color: #ffffff;
  border: none;
  cursor: pointer;
  margin-right: 15px;
  position: relative;
}

.transparent-dropdown .dropdown-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #ffffff;
  transition: color 0.3s ease;
}

.transparent-dropdown .dropdown-button:hover {
  color: #00ff00; /* Verde claro como en el side menu */
}

.transparent-dropdown .dropdown-content {
  position: absolute;
  top: 30px;
  right: 0;
  background-color: #2b2b3b;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
  padding: 10px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 0.9rem;
  display: none; /* Oculto hasta que sea hover */
}

.transparent-dropdown:hover .dropdown-content {
  display: block; /* Mostrar cuando se hace hover */
}

.dropdown-content-item {
  padding: 8px 12px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdown-content-item:hover {
  background-color: #35354f;
}

/* Estilo del nombre de usuario */
.menu-nav p {
  margin-left: 10px;
  font-size: 0.9rem;
  color: #ffffff;
  font-weight: bold;
}

/* Responsivo */
@media (max-width: 768px) {
  .nav-container {
    flex-direction: column;
    padding: 10px 10px;
  }

  .menu-nav {
    margin-top: 10px;
    flex-direction: column;
  }
}

.nav-container-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
