.create-batch-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.create-batch-form .form-group {
  margin-bottom: 15px;
}

.form-actions {
  display: flex;
  justify-content: center;
}
